MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/alertnest
JWT_SECRET=your-jwt-secret-key-here
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=8760
GOOGLE_CLIENT_ID=1088218926065-qsifc0hotihjjq7mg9btffnjj1oromjt.apps.googleusercontent.com
